<!DOCTYPE html>
<html lang="uk-UA" data-ng-controller="InitPageController as cr">

<head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="/f/img/algoritmed.ico" type="image/x-icon">
    <link rel="stylesheet" href="/f/css/w3.css">
    <link rel="stylesheet" href="/f/css/am.css">

    <script src="/webjars/angular/1.8.2/angular.min.js" type="application/javascript"></script>
    <script src="/webjars/angular-i18n/1.8.2/angular-locale_uk-ua.js" type="application/javascript"></script>
    <script src="/webjars/angular-route/1.8.2/angular-route.min.js" type="application/javascript"></script>
    <script src="/webjars/angular-resource/1.8.2/angular-resource.min.js" type="application/javascript"></script>
    <script src="/webjars/angular-sanitize/1.8.2/angular-sanitize.min.js" type="application/javascript"></script>
    <script src="/f/fhir/algoritmed.AngularJS.lib01.js"></script>
    <script src="i.js" type="application/javascript"></script>
</head>

<body class="w3-container">
    <div class="w3-border-bottom am-max-width-1">
        <a href="/" class="w3-btn w3-border1 w3-padding-small w3-small">
            <img style="display: flex;" src="/f/css/homeIcon.svg">
        </a>
        <img src="/f/img/algoritmed-logo.webp" width="75px;" />
        FHIR_Concept⁙Implementation
        <div class="w3-right w3-small">
            <span data-ng-class="{'w3-border-left':cr.pl.men.u}" data-ng-click="cr.pl.men.u=null">
                ☰:
            </span>
            <span class="w3-hover-shadow" data-ng-click="cr.pl.men.u=menuItem"
                data-ng-repeat="menuItem in ['DEC','Info']"
                data-ng-class="{'w3-bottombar':cr.pl.men.u==menuItem, 'w3-border-top':cr.pl.men.u!=menuItem, }">
                {{menuItem}}
            </span>
        </div>
        <div data-ng-if="cr.pl.men.u=='Info'" class="w3-border-top w3-border-right">
            ☰ <span class="w3-small">
                <button class="w3-btn w3-padding-small" data-ng-click="cr.pl.show_am002l()">show_am002l</button>
            </span>
            <div>
                <span class="w3-right">⚕⚖: ℞♩</span>
            </div>

            <div data-ng-if="cr.pl.men.Info" data-ng-repeat="rule in cr.pl.men.Info.list" class="w3-border-top">
                <div>
                    <span class="w3-tiny">{{rule.doc_id}}</span>
                    <span title="rule:{{rule.doc_id}}">⟠:</span>
                    <span data-ng-repeat="ifItem in rule.ifs_list">
                        <sub>if</sub> якщо( {{ifItem.addresses_code}}:{{ifItem.addresses_display}}
                    </span>
                    <span data-ng-repeat="ifItem in rule.ifsQuantity_list">
                        {{ifItem.quantity_comparator}}
                        {{ifItem.detailquantity_value}}
                        <span class="w3-tiny">
                            ::{{ifItem.measure_code}}:{{ifItem.measure_display}}
                        </span>
                    </span>
                    ) то {
                    <div data-ng-if="cr.pl.men.Info" data-ng-repeat="careplan in cr.pl.men.Info.carePlan.list"
                        class="w3-border-top w3-container">
                        <span class="w3-tiny">{{careplan.doc_id}}</span>
                        <span title="CarePlan:{{careplan.doc_id}}"> 📓: </span>
                        <span data-ng-repeat="carePlan_activity in cr.pl.men.Info.carePlan_activity.list">
                            <span class="w3-tiny"> {{carePlan_activity.doc_id}} </span>
                            {{carePlan_activity.mr_medication}}
                            <span
                                data-ng-if="carePlan_activity.doc_id == dosageInstruction_doseQuantity.plannedactivityreference_id"
                                data-ng-repeat="dosageInstruction_doseQuantity in cr.pl.men.Info.dosageInstruction_doseQuantity.list">
                                {{dosageInstruction_doseQuantity.qy_value}}
                                {{dosageInstruction_doseQuantity.qy_code}}
                            </span>
                        </span>
                        <span class="w3-tiny"> {{careplan.careplan_title}} </span>
                    </div>
                    }
                    <span class="w3-tiny">
                        {{rule.goal_note_anotation_text}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="w3-right w3-small">
        Data Element Concept :DEC
    </div>
    <div class="w3-border-bottom">
        <div data-ng-repeat="listName in ['reList','patternList']">
            {{cr.pl.session.sumListLength(cr.pl.session[listName], 0)}}<span data-ng-if="listName=='reList'"
                class="w3-tiny">::type::Conceptual</span> =
            <span data-ng-repeat=" e in cr.pl.session[listName]">{{$index>0?' +
                ':''}}{{cr.pl.session[e].length}}</span>,
            <span class="w3-tiny" data-ng-repeat=" e in cr.pl.session[listName]">{{$index>0?' + ':''}}{{e}}</span>
        </div>
    </div>
    <div data-ng-include="'/f/fhir/t/ie/fcpt.html'"></div>
</body>

</html></head></head>