<!DOCTYPE html>
<!--
 * Algoritmed ©, Licence EUPL-1.2 or later.
-->
<html>
<meta charset="utf-8" />
<title id="headTitle">7CP:view</title>
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/am.css">
<script src="/webjars/vue/3.3.4/dist/vue.global.prod.js" type="application/javascript"></script>
<script src="/webjars/marked/4.3.0/marked.min.js" type="module"></script>
<script src="i.js" type="module"></script>

<body class="w3-container">
    <div class="am-max-width-1">
        <span class="w3-small">
            <a href="/" class="w3-btn w3-padding-small">
                <img style="display: flex;" src="/f/css/homeIcon.svg"> </a>
            <span id="showDocId">
                <span class="w3-tiny w3-topbar">
                    <span class="am-b">CP</span> <sub>mc</sub>
                </span> &nbsp; <span class="w3-medium"> ⛒℅ </span>
                7 ➾ ⁙ <b>CP</b>-<b>C</b>are<b>P</b>lan viewer
            </span>
        </span>
        <a href="http://algoritmed.com/" class="am-0u w3-right w3-hover-shadow" target="_blank">&nbsp;<img
                src="/f/img/algoritmed-logo.webp" style="width:75px;" />&nbsp;</a>
    </div>

    <div id="cp01view" class="am-max-width-1">
        <span class="w3-tiny w3-opacity w3-right">cp01view {{count}}</span>
        <span class="w3-tiny w3-opacity">{{rootId}}&nbsp;</span>
        {{adn(rootId).vl_str}}
        <div v-if="parentChilds(rootId)" class="w3-container w3-border-left">
            <div v-for="adnId in parentChilds(rootId)">
                <span class="w3-tiny w3-opacity">{{adnId}}&nbsp;</span>
                {{cpSymbolR(adnId)}}
                <a :href="'/f/7/wf01view/i.html#wf,'+adn(adnId).r2">
                    {{adn(adn(adnId).r2).vl_str}}
                </a>
            </div>
            <template v-for="boaId in basedOnCP()">
                <template v-if="adn(boaId).r2==rootId">
                    <div class="w3-border-top">
                        <span class="w3-tiny w3-opacity">{{boaId}}</span>
                        {{adn(boaId).vl_str}}
                    </div>
                    <div v-if="parentChilds(boaId)" class="w3-border-top w3-container">
                        <div v-for="boId in parentChilds(boaId)">
                            <span class="w3-tiny w3-opacity">{{boId}}</span>
                            {{adn(boId).vl_str}}
                        </div>
                    </div>
                </template>
            </template>
        </div>

        <!-- &nbsp;<div class="w3-tiny">{{mcData()}}</div> -->
    </div>
    <p class="w3-border-top">
        ␝ ⊲ ⦂ ⎏ ⎐
        : instantiatesCanonical: instance case 💼&nbsp;⛋
        basedOn ꭍ ↨ 𐄷
        document 🗎 🖹 🖻 🖺 ※
    </p>
</body>

</html>